.bg-container {
  background-color: #9ba9eb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.bg-container::-webkit-scrollbar {
  display: none;
}

.logo-image {
  height: max(24px, 4vh);
  padding-left: 100px;
  margin-top: 40px;
}

.sub-container {
  align-self: center;
  margin: 30px;
  width: 80vw;
  padding: 26px;
  background-color: #5763a5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 58px;
  border-radius: 10px;
}

.sub-container::-webkit-scrollbar {
  display: none;
}

.added-website {
  font-family: 'Roboto';
  text-align: center;
  color: #ffffff;
}

.form-container {
  background-color: #454f84;
  padding: 20px;
  border-radius: 10px;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}

.website {
  height: max(20px, 2vh);
  align-self: center;
  margin-left: 6px;
}

.website-container {
  background-color: #ffffff;
  display: flex;
  height: max(2vh, 30px);
  width: 300px;
  margin: 24px 10px;
}

hr {
  height: max(2vh, 30px);
  align-self: flex-start;
  margin-left: 6px;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.web-inp {
  outline: none;
  align-items: flex-start;
  width: 100vw;
  color: #64748b;
  font-family: 'Roboto';
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  border: none;
  color: #ffffff;
  background-color: #0b69ff;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
}

.manager-image {
  height: 40vh;
}

.bottom-container {
  align-self: center;
  margin: 30px;
  width: 80vw;
  padding: 26px;
  background-color: #5763a5;
  padding-bottom: 60px;
  margin-bottom: 100px;
  border-radius: 10px;
  min-height: 80vh;
}

.bottom-container::-webkit-scrollbar {
  display: none;
}

.password-count {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 4px 14px;
  font-size: 10px;
  border-radius: 16px;
}

.search-bar {
  background-color: #ffffff;
  width: max(10vw, 280px);
  height: max(2vh, 30px);
  display: flex;
}

.bottom-contents {
  display: flex;
  justify-content: space-between;
}

.search-icon {
  height: max(20px, 2vh);
  margin: 5px 14px;
}

.second-container {
  display: flex;
  color: #ffffff;
  justify-content: flex-end;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  align-self: center;
  margin-right: 10px;
}

.hori {
  color: #ffffff;
  width: 75vw;
  height: 0px;
}

.par-nopass {
  color: #ffffff;
  text-align: center;
}

.no-passwords {
  width: 30vw;
  align-self: center;
}

.no-passwords-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.pas {
  display: flex;
  gap: 10px;
}

.blue {
  background-color: #1e90ff;
}

.green {
  background-color: #32cd32;
}

.purple {
  background-color: #9370db;
}

.orange {
  background-color: #ffa500;
}

.red {
  background-color: #ff6347;
}

.teal {
  background-color: #20b2aa;
}

.pink {
  background-color: #ff69b4;
}

.yellow {
  background-color: #ffd700;
}

.coral {
  background-color: #ff7f50;
}

.indigo {
  background-color: #4b0082;
}

.aqua {
  background-color: aqua;
}

.maroon {
  background-color: maroon;
}

.gold {
  background-color: gold;
}

.black {
  background-color: black;
}
.hidden-form {
  position: absolute;
  background-color: #f5f5dc;
  padding: 16px;
  border: 2px solid #ccc;
  z-index: 999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
}

.new-buttons-container {
  display: flex;
  gap: 18px;
}

.upt-button {
  background-color: #198754;
  color: #ffffff;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.close-button {
  background-color: #dc3545;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.eye-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.website-container {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}
